
{% extends 'basic_app/base.html' %}
{% block body_block %}
<div class ="container">
    <div class ="card">
        <div class ="card-body">
            <div class ="row">
                <div class="col-md-6">
                  <h1> סרטונים</h1>
                    <li><a class='navbar-link' href="{% url 'basic_app:Sport' %}"> ספורט</a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:stand_up_comedy' %}">סטנדאפ</a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:motivation' %}">מוטיבציה</a></li>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}