
{% extends 'basic_app/base.html' %}
{% load embed_video_tags %}
{% block body_block %}

<h1>ספורט </h1>

              {% if not user.groups.all.0.name == "customer" %}
        <a href="{% url 'video:add_sport_video'%}" class="btn btn-warning">Add Video</a><br>
    {% endif %}
 {% for i in obj %}
   <div class="row">
  <div class="col-sm-6 col-md-4">
                  {% if not user.groups.all.0.name == "customer" %}
      <a href = '/video/sport/sport_detail/{{ i.id }}'><div class="caption">
          <h3>ערוך </h3>
          {% endif %}
          {% video i.video 'tiny' %}
      </div>
    </div>
    </div>
        {% endfor %}

{% endblock %}

