
{% extends 'basic_app/base.html' %}
{% block body_block %}

<h1> אודות </h1>
<div class="row" >
    <div class="thumbnail">
        <div class="btn btn-block LnG ">
            <h3>
            <li> החברה הוקמה ע''י צוות פו'זי והמפתחים גבי לוין,אנדרי רוץ,טל אוחיון ורפאל רובינוב</li>
            <li> ישנם שני סוגי מומחים אחד אחד פיסיכולוגים מוסמכים בתשלום וסטודנטים שנותנים מענה ללא עלות</li>
            <li> מטרתנו העיקרית היא לעזור לחברה החווים חרדה כללית שהתגברה בגלל הקורונה</li>
            <li>כל הפרטים הם מאובטחים וחסויים</li>
                </h3>
    </nav>
        </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}